<footer class="site-footer">
	<div class="region wide">
		<div class="footer-wrapper">
			<div class="footer-top">
				<div class="logo">
					<a href="{{ url('<front>') }}"><img src="/themes/custom/fishing_with_triston/images/fishing-with-triston-logo.png" alt="Fishing with Triston Logo"></a>
				</div>
                <div class="footer-nav-container">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Locations</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Lures</a></li>
                        </ul>
                    </nav>
                </div>
			</div>

            <div class="footer-bottom">
                <div class="copyright">Copyright &copy; {{ 'now' | date('Y') }} Triston Sayaovang</div>
            </div>
		</div>
	</div>
</footer>
