{#
/**
 * @file
 * Olivero's theme override to display the header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<header class="site-header" data-role="siteHeader">
	<div class="header-wrapper region">
		<div class="logo">
			<a href="{{ url('<front>') }}"><img src="/themes/custom/fishing_with_triston/images/fishing-with-triston-logo.png" alt="Fishing with Triston Logo"></a>
		</div>
		<div class="main-navigation" data-role="mainNav">
			{{content}}
		</div>
		<div class="mobile-navigation">
			<button class="mobile-menu-button" data-role="mobileMenuButton" aria-label="Close mobile navigation">
			{{  source('themes/custom/fishing_with_triston/images/mobile-menu.svg') }}
			</button>
			<dialog data-role="mobileNavDialog" class="mobile-nav-container">
			<button class="close-modal-button" data-role="closeModal">X</button>
				<div class="mobile-nav-wrapper" data-role="mobileNavWrapper">
					<nav class="mobile-nav" data-role="mobileNav">
						<ul class="mobile-nav-list" data-role="mobileNavList">
						</ul>
					</nav>
				</div>
			</dialog>
		</div>
	</div>
</header>
