@keyframes nextSlide {
    0% {
        z-index: 3;
        transform: rotate(0deg) translate(0, 0) scale(1);
    }

    50% {
        z-index: 3;
        transform: rotate(-10deg) translate(75%, -50%) scale(0.25);
    }

    51% {
        z-index: 0;
        transform: rotate(-10deg) translate(75%, -50%) scale(0.25);
    }

    100% {
        z-index: 0;
        transform: rotate(-10deg) translate(0, 0) scale(0.75);
    }
}


@keyframes prevSlide {
    0% {
        z-index: 2;
        transform: rotate(0deg) translate(0, 0) scale(1);
    }

    50% {
        z-index: 2;
        transform: rotate(-10deg) translate(75%, -50%) cale(0.25);

    }

    51% {
        z-index: 4;
        transform: rotate(-10deg) translate(75%, -50%) scale(0.25);
    }

    100% {
        z-index: 4;
        transform: rotate(0deg) translate(0, 0) scale(1);
    }
}

:where(.image-carousel-container) {

    display: grid;
    grid-template-areas: 'imageCarouselContainer';
    padding-bottom: 40px;

    &>* {
        grid-area: imageCarouselContainer;
    }

    .region {
        z-index: 1;
    }

    .background {
        background: var(--color-theme-blue);
        width: 100%;
        height: 85%;
        align-self: flex-end;
        pointer-events: none;
    }


    .image-carousel-wrapper {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        align-items: center;
        gap: 40px;
    }

    .image-carousel-copy-container {
        background: var(--color-theme-white);
        padding: 40px 25px;
        margin-top: 10%;
    }

    .carousel-photos-container {
        display: grid;
        grid-template-columns: 100px 2fr 100px;
        gap: 20px;
    }

    .carousel-slides-container {
        display: grid;
        grid-template-areas: "carouselPhotos";

        &>* {
            grid-area: carouselPhotos;
        }
    }

    .image-carousel-slide {
        padding: 40px;
        border: solid 3px var(--color-theme-gray);
        border-radius: 2px;
        background: var(--color-theme-white);
        transform: rotate(-8deg);
        z-index: 1;
        transition: transform 300ms ease-in-out;
        position: relative;
        max-width: 450px;

        img {
            border: solid 3px var(--color-theme-gray);
        }

        /* TODO: replace with "active" class */
        &.active {
            z-index: 2;
            transform: rotate(0) !important;

        }

        &.next-active-slide {
            transform: rotate(12deg);
            z-index: 0;
        }

        &.animate-next {
            animation-name: nextSlide;
            animation-duration: 2s;
        }

        &.animate-prev {
            animation-name: prevSlide;
            animation-duration: 2s;
        }

        &.previously-active-slide {
            z-index: 3;
        }


    }

    .image-carousel-slide-text-wrapper {
        padding-bottom: 40px;
    }

    .carousel-button {
        width: fit-content;
        height: fit-content;
        padding: 10px 20px;
        align-self: center;
        font-size: 30px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
        border: solid 1px var(--color-theme-white);
        transition: all 250ms ease;
        color: var(--color-theme-white);
        font-weight: 600;
        border-radius: 50px;

        &:hover {
            filter: brightness(0.9);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 80%);
            cursor: pointer;

        }
    }


}

@media screen and (max-width: 1550px) {
    :where(.image-carousel-container) {
        .image-carousel-wrapper {
            grid-template-columns: 1fr;
        }

        .carousel-slides-container {
            place-content: center;
        }

        .image-carousel-copy-container{
            margin-top: 0;
        }
    }


}