:where(.site-header) {

    .header-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 200px auto;
        gap: 40px;
    }

    .logo img {
        max-width: 200px;
    }

    .main-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    :where(.mobile-navigation) {
        display: none;

        .mobile-menu-button {
            background: none;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #block-fishing-with-triston-main-menu {

        ul:not(.contextual-links) {
            list-style: none;
            display: flex;
            flex-flow: row;
            gap: 25px;

            li a {
                font-size: 24px;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }

}

@media screen and (max-width: 1450px) {
    :where(.site-header) {
        padding-inline: 40px;
    }
}

@media screen and (max-width: 900px) {
    :where(.site-header) {

        .header-wrapper {
            gap: 10px;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            max-width: 125px;
        }

        .main-navigation {
            display: none;
        }

        :where(.mobile-navigation) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

}