:where(.site-header) {

    .header-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 40px;
    }

    .logo img {
        max-width: 125px;
    }

    .main-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #block-fishing-with-triston-main-menu {

        .menu.menu--level-1 {
            list-style: none;
            display: flex;
            flex-flow: row;
            gap: 25px;

            .menu__link {
                font-size: 24px;
                font-weight: 600;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }

}