:where(.mobile-nav-container) {
    &[open] {
        width: 100%;
        max-width: 75dvw;
        height: 100%;
        max-height: 100dvh;
        position: fixed;
        right: -26dvw;

        border: none;

        &::backdrop {
            background: rgba(0, 0, 0, 0.5);
        }

        .close-modal-button {
            margin-top: 40px;
            background: var(--color-theme-anchor);
            color: var(--color-theme-white);
            padding: 5px 10px;
            font-size: 36px;
            border: none;
            font-weight: 600;

            &:hover {   
                cursor: pointer;
            }
        }
        .mobile-nav-list {
            list-style: none;
            padding-block: 40px;
        }

        .mobile-navigation-link {
            font-size: 36px;
            font-weight: 800;

            & > a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }


        

    }
}