:where(.region) {
    max-width: var(--content-width-wide);
    margin-inline: auto;
}



@media screen and (max-width: 1450px) {
    :where(section .region) {
        padding-inline: 40px;
    }
}

@media screen and (max-width: 500px) {
    :where(section .region) {
        padding-inline: var(--mobile-padding);
    }
}