:root{
    --color-theme-yellow: #f3e9be;
    --color-theme-green: #6a7c32;
    --color-theme-black: #1B2021;
    --color-theme-anchor: #117E9C;
    --color-theme-white: #ffffff;
    --color-theme-blue: #0E2B5D;
    --color-theme-gray: #444447;
    --color-theme-light-gray: #dcdee6;
}

:root {
    --content-width-wide: 1450px;
    --content-width-medium: 1200px;
    --content-width-small: 950px;
}

:root {
    --font-family-main: 'Lexend', sans-serif;
}

:root {
    --margin-standard: 80px;
    --margin-short: 40px;
    --margin-tiny: 20px;
    --padding-standard: 80px;
    --padding-short: 40px;
    --padding-tiny: 20px;
}